h2 {
  font-size: 30px;
  text-align: center;
}

.bg-body-tertiary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#main-content {
  text-align: left;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.tasks-card-container {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.tasks-list {
  list-style: none;
  padding: 0;
}

.tasks-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tasks-list li input[type="checkbox"] {
  margin-right: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

button {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0000aa;
}

.task-completed-list {
  list-style: none;
}

@media (max-width: 768px) {
  #main-content {
    width: 100%;
    padding: 10px;
  }

  .tasks-card-container {
    width: 100%;
    padding: 10px;
  }
}