.task-completed-expansion {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
  
  .task-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .task-title {
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
  }
  
  .arrow-icon {
    font-size: 14px;
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.expanded {
    transform: rotate(180deg);
  }
  
  .task-details {
    padding: 15px;
  }
  
  .task-details ul {
    list-style: none;
    padding: 0;
  }
  
  .task-details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task-details li label {
    display: flex;
    align-items: center;
  }
  
  .task-details li input[type="checkbox"] {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .task-completed-expansion {
      padding: 15px 0;
    }
  }